<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Evento | Free Onepage Event Template | ShapeBootstrap</title>
        <link href=" {{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href=" {{ asset('bundles/app/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href=" {{ asset('bundles/app/css/main.css') }}" rel="stylesheet">
        <link href=" {{ asset('bundles/app/css/animate.css') }}" rel="stylesheet">
        <link href=" {{ asset('bundles/app/css/responsive.css') }}" rel="stylesheet">
        <link href=" {{ asset('bundles/app/css/form.css') }}" rel="stylesheet">
        <link href=" {{ asset('bundles/app/css/article.css') }}" rel="stylesheet">
        <link href=" {{ asset('bundles/app/slickjs/slick/slick.css') }}" rel="stylesheet"/>

        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script>
        <![endif]-->       
        <link rel="shortcut icon" href="{{ asset('bundles/app/images/ico/favicon.ico') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/app/images/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/app/images/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/app/images/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/app/images/ico/apple-touch-icon-57-precomposed.png') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="main-nav">
            <div class="container">
                <div class="header-top">
                    <div class="pull-right social-icons">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>     
                <div class="row">                   
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <img class="img-responsive" src="{{ asset('bundles/app/images/logo.png') }}" alt="logo">
                        </a>                    
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="no-scroll" href="{{ path('home') }}">Home</a></li>
                            <li><a class="no-scroll" href="{{ path('posts') }}?mode=slider">Blog</a></li>
                            <li class="scroll"><a href="#about">About</a></li>
                            <li><a class="no-scroll" href="{{ path('concert') }}">PURCHASE TICKETS</a></li>
                            <li class="scroll"><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
        {% block body %}{% endblock %}

        {% include 'AppBundle:composants:contact.html.twig' %}

        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/gmaps.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/smoothscroll.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.parallax.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/coundown-timer.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.scrollTo.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.nav.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/main.js') }}"></script>
        <script type="text/javascript" src=" {{ asset('bundles/app/slickjs/slick/slick.min.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
